// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

// Sizing logo's parent to fit header on mobile
@media (max-width: 768px) {
  a.navbar-brand.custom-logo-link {
    max-width:50%;
  }
}

@media (min-width: 1200px) {
  .container.header-style {
    max-width: 1920px;
    margin-right: 15px;
    margin-left: 15px;
  }
}

// sizing logo to fit header
.custom-logo-link {
    .img-fluid {
        max-width: 50%;
    }
}

//navbar-menu position changed on wider screens/landscape
@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .dropdown-menu {
      position: absolute;
      left: -150px;
  }
}

@media (max-width: 767px) {
  .dropdown-toggle ~ .dropdown-menu, .dropdown-menu {
    display:block;
  }
}

.dropdown-toggle:hover ~ .dropdown-menu, .dropdown-menu:hover {
  display:block;
}

.dropdown-menu {
  margin: 0;
}

//Possible to change header colors, when needed
/*
.navbar-dark {
    .navbar-brand {
      color: $navbar-dark-brand-color;
  
      @include hover-focus() {
        color: $navbar-dark-brand-hover-color;
      }
    }
  
    .navbar-nav {
      .nav-link {
        color: $navbar-light-color;
  
        @include hover-focus() {
          color: $navbar-light-hover-color;
        }
  
        &.disabled {
          color: $navbar-light-disabled-color;
        }
      }
  
      .show > .nav-link,
      .active > .nav-link,
      .nav-link.show,
      .nav-link.active {
        color: $navbar-light-active-color;
      }
    }
  
    .navbar-toggler {
      color: $navbar-light-color;
      border-color: $navbar-light-toggler-border-color;
    }
  
    .navbar-toggler-icon {
      background-image: escape-svg($navbar-light-toggler-icon-bg);
    }
  
    .navbar-text {
      color: $navbar-light-color;
      a {
        color: $navbar-light-active-color;
  
        @include hover-focus() {
          color: $navbar-light-active-color;
        }
      }
    }
  }
  */

  .entry-title {
    margin-top:1rem;
    margin-bottom: 2rem;
    color:red;
  }

  .entry-content {
    figure, .wp-block-columns {
    margin-top:4rem;
    }
  }

  // added class
  .header-below-content-image {
    margin-bottom: 2rem;
    margin-top:5rem;
  }

  .wp-block-column p {
    text-align: left;
  }

  @media (min-width: 782px) {
      .wp-block-column:not(:first-child) {
        margin-left: 8rem;
      }
  }

  .entry-content {
    margin-bottom: 10rem;
  }

  //Gallery fixed margin
  @media (min-width: 600px){
    .blocks-gallery-grid.columns-4 .blocks-gallery-image, .blocks-gallery-grid.columns-4 .blocks-gallery-item, .wp-block-gallery.columns-4 .blocks-gallery-image, .wp-block-gallery.columns-4 .blocks-gallery-item {
      width: calc((100% - 100px)/4);
      margin-right: 30px;
    }
  }

  .blocks-gallery-grid {
    margin-bottom: 4rem;
  }